.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  flex: 1;
}

/* Styling for the navigation bar */
.header-nav {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 30px;
}

/* Prevents the navigation buttons from getting too close */
.header-nav a {
  min-width: 300px;
}

.header-nav a, .header-nav a:hover{
  color: black;
  text-decoration: none;
}

/* Search container styling */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 150px;
}

.search-input {
  width: 0;
  padding: 0;
  margin: 0;
  transition: width 0.5s ease, padding 0.5s ease;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  margin-right: 400px;
}

/* When the input is focused, it takes up 500px width */
.search-input:focus {
  width: 500px;
  padding: 5px 10px;
  opacity: 1;
  visibility: visible;
}

/* Styling for profile icon */
.header-profile .profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 90px;
}

.header-profile {
  padding: 5px;
}

/* General styles for the recipe highlight section */
.recipe-highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #bad7f4;
    border-radius: 8px;
    margin-top: 10px;
  }

  /* Styling for the recipe highlight title */
  .recipe-highlight-title {
    display: flex;
    justify-content:  center;
    font-size: 60px;
    font-weight: bold;
    font-family: "Abril Fatface", serif;
    font-weight: 800;
    font-style: normal;
    color:black;
    width: 80%;
    margin: auto;
  }

  /* Styling for the recipe highlight description */
  .recipe-highlight-description {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: black;
    width: 80%;
    margin: auto;
  }
  
  /* Styling for the recipe highlight percentage */
  .recipe-highlight-percentage {
    display: flex;
    justify-content: center;
    color: #888;
    font-style: italic;
    font-size: 25px;
    margin-top: 30px;
  }

  /* Remove link underline when user hovers over navigation buttons */
  .recipe-highlight a:hover {
    text-decoration: none;
  }

  .recipe-highlight-title, .recipe-highlight-description {
    flex: 1;
  }
  
  @media (max-width: 1200px) {
    .recipe-highlight-title {
      font-size: 50px;
    }
    .recipe-highlight-description {
      font-size: 25px;
    }
    .recipe-highlight-percentage {
      font-size: 20px;
    }
  }
